In [3]:
import pandas as pd
import statsmodels.formula.api
import statsmodels.api
from scipy.stats.distributions import f
import matplotlib.pyplot as plt

In [4]:
av= pd.read_excel("données/tdadd.xlsx", sheet_name="exo11")
av.head()

   E1  E2   E3   E4
0  15  20  105   39
1  18  90   30   16
2  19  45   26  120
3   9  15   10   24

In [5]:
av=av.melt()
av

   variable  value
0        E1     15
1        E1     18
2        E1     19
3        E1      9
4        E2     20
5        E2     90
6        E2     45
7        E2     15
8        E3    105
9        E3     30
10       E3     26
11       E3     10
12       E4     39
13       E4     16
14       E4    120
15       E4     24

In [6]:
fit = statsmodels.formula.api.ols('value ~ variable', data = av).fit()
avr = statsmodels.api.stats.anova_lm(fit)
avr

            df      sum_sq      mean_sq         F    PR(>F)
variable   3.0   2790.6875   930.229167  0.705198  0.567055
Residual  12.0  15829.2500  1319.104167       NaN       NaN

In [7]:
fo=avr['F'][0]
ddla=avr['df'][0]
ddlw=avr['df'][1]
pvalue=avr['PR(>F)'][0]
print("dda=",ddla,"\nddw=",ddlw,"\nFo=",round(fo,3),'\nPvalue=',round(pvalue,3))

dda= 3.0
ddw= 12.0
Fo= 0.705
Pvalue= 0.567

In [8]:
alpha=float(input('Donnez le risque Alpha:'))

Fc=f.ppf(1-alpha, ddla,ddlw)
print("\nF0=",round(fo,3))
print("Fc=",round(Fc,3))
if fo<= Fc:
    print(round(fo,3), "<=",round(Fc,3),"alors H0 est acceptée")
else:
    print(round(fo,3), ">",round(Fc,3),"H0 est rejetée")

Donnez le risque Alpha:0.05

F0= 0.705
Fc= 3.49
0.705 <= 3.49 alors H0 est acceptée

In [9]:
av= pd.read_excel("données/tdadd.xlsx", sheet_name="exo11")
alpha=float(input('Donnez le risque Alpha:'))
av.head()
av=av.melt()
fit = statsmodels.formula.api.ols('value ~ variable', data = av).fit()
avr = statsmodels.api.stats.anova_lm(fit)
print("\n\n",avr,'\n\n')
fo=avr['F'][0]
ddla=avr['df'][0]
ddlw=avr['df'][1]
pvalue=avr['PR(>F)'][0]
print("dda=",ddla,"\nddw=",ddlw,"\nFo=",round(fo,3),'\nPvalue=',round(pvalue,3))
D=f.ppf(1-alpha, ddla,ddlw)
print("\nD=",round(D,3))
if fo<= D:
    print(round(fo,3), "<=",round(D,3),"alors H0 est acceptée")
else:
    print(round(fo,3), ">",round(D,3),"H0 est rejetée")

Donnez le risque Alpha:0.05


             df      sum_sq      mean_sq         F    PR(>F)
variable   3.0   2790.6875   930.229167  0.705198  0.567055
Residual  12.0  15829.2500  1319.104167       NaN       NaN


dda= 3.0
ddw= 12.0
Fo= 0.705
Pvalue= 0.567

D= 3.49
0.705 <= 3.49 alors H0 est acceptée

In [12]:
def monav(fichier="application", feuille="AV1", alpha=0.05):
    av= pd.read_excel("données/"+ fichier + ".xlsx", sheet_name=feuille)
    print("\n\n", av)
    av=av.melt()
    fit = statsmodels.formula.api.ols('value ~ variable', data = av).fit()
    avr = statsmodels.api.stats.anova_lm(fit)
    print("\n\n",avr)
    fo=avr['F'][0]
    ddla=avr['df'][0]
    ddlw=avr['df'][1]
    pvalue=avr['PR(>F)'][0]
    print("\n\ndda=",ddla,"\nddw=",ddlw,"\nFo=",round(fo,3),'\nPvalue=',round(pvalue,3))

    D=f.ppf(1-alpha, ddla,ddlw)

    print("\nD=",round(D,3))

    if fo<= D:
        print(round(fo,3), "<=",round(D,3),"alors H0 est acceptée")
    else:
        print(round(fo,3), ">",round(D,3),"H0 est rejetée")

In [13]:
monav()

    L1  L2  L3  L4
0  15  15  15  15
1  25  12  12  16
2  16  15  24  20
3   9  15  10  24


             df  sum_sq    mean_sq         F    PR(>F)
variable   3.0   44.75  14.916667  0.590759  0.632761
Residual  12.0  303.00  25.250000       NaN       NaN


dda= 3.0
ddw= 12.0
Fo= 0.591
Pvalue= 0.633

D= 3.49
0.591 <= 3.49 alors H0 est acceptée

In [14]:
monav(feuille="AV3")

         X      Y          Z
0   16.00  17.50  17.000000
1   19.00  18.00  18.333333
2   14.00  18.25  16.833333
3   17.00  13.00  14.333333
4   14.00  15.50  15.000000
5   13.00  13.00  13.000000
6   13.00  11.00  11.666667
7   14.00  17.00  16.000000
8   14.00  17.00  16.000000
9   12.00  17.00  15.333333
10  13.00  15.00  14.333333
11  14.50  17.00  16.166667
12  18.25  18.75  18.583333
13  18.25  13.00  14.750000
14  14.00  18.00  16.666667
15  18.00  19.50  19.000000
16  18.75  19.00  18.916667
17  12.00  16.50  15.000000
18  16.50  16.00  16.166667
19  16.50  16.00  16.166667


             df     sum_sq   mean_sq         F    PR(>F)
variable   2.0   10.63125  5.315625  1.112837  0.335659
Residual  57.0  272.26875  4.776645       NaN       NaN


dda= 2.0
ddw= 57.0
Fo= 1.113
Pvalue= 0.336

D= 3.159
1.113 <= 3.159 alors H0 est acceptée

# La table de Fisher Snedecor  pour l'Analyse de variance

In [18]:
print("Alpha=",alpha, sep="",end="\t")
for j in range(1,16):
     print(j, end="\t")

print()
print("\t-------------------------------------------------------------------------------------------------------------\n")

for i in range(1,31):
    print(i, end="\t")
    for j in range(1,16):
       
        print(round(f.ppf(1-alpha, j,i),3), end="\t")
    print()

Alpha=0.05	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15
	-------------------------------------------------------------------------------------------------------------

1	161.448	199.5	215.707	224.583	230.162	233.986	236.768	238.883	240.543	241.882	242.983	243.906	244.69	245.364	245.95
2	18.513	19.0	19.164	19.247	19.296	19.33	19.353	19.371	19.385	19.396	19.405	19.413	19.419	19.424	19.429
3	10.128	9.552	9.277	9.117	9.013	8.941	8.887	8.845	8.812	8.786	8.763	8.745	8.729	8.715	8.703
4	7.709	6.944	6.591	6.388	6.256	6.163	6.094	6.041	5.999	5.964	5.936	5.912	5.891	5.873	5.858
5	6.608	5.786	5.409	5.192	5.05	4.95	4.876	4.818	4.772	4.735	4.704	4.678	4.655	4.636	4.619
6	5.987	5.143	4.757	4.534	4.387	4.284	4.207	4.147	4.099	4.06	4.027	4.0	3.976	3.956	3.938
7	5.591	4.737	4.347	4.12	3.972	3.866	3.787	3.726	3.677	3.637	3.603	3.575	3.55	3.529	3.511
8	5.318	4.459	4.066	3.838	3.687	3.581	3.5	3.438	3.388	3.347	3.313	3.284	3.259	3.237	3.218
9	5.117	4.256	3.863	3.633	3.482	3.374	3.293	3.23	3.179	3.137	3.102	3.073	3.048	3.025	3.006
10	4.965	4.103	3.708	3.478	3.326	3.217	3.135	3.072	3.02	2.978	2.943	2.913	2.887	2.865	2.845
11	4.844	3.982	3.587	3.357	3.204	3.095	3.012	2.948	2.896	2.854	2.818	2.788	2.761	2.739	2.719
12	4.747	3.885	3.49	3.259	3.106	2.996	2.913	2.849	2.796	2.753	2.717	2.687	2.66	2.637	2.617
13	4.667	3.806	3.411	3.179	3.025	2.915	2.832	2.767	2.714	2.671	2.635	2.604	2.577	2.554	2.533
14	4.6	3.739	3.344	3.112	2.958	2.848	2.764	2.699	2.646	2.602	2.565	2.534	2.507	2.484	2.463
15	4.543	3.682	3.287	3.056	2.901	2.79	2.707	2.641	2.588	2.544	2.507	2.475	2.448	2.424	2.403
16	4.494	3.634	3.239	3.007	2.852	2.741	2.657	2.591	2.538	2.494	2.456	2.425	2.397	2.373	2.352
17	4.451	3.592	3.197	2.965	2.81	2.699	2.614	2.548	2.494	2.45	2.413	2.381	2.353	2.329	2.308
18	4.414	3.555	3.16	2.928	2.773	2.661	2.577	2.51	2.456	2.412	2.374	2.342	2.314	2.29	2.269
19	4.381	3.522	3.127	2.895	2.74	2.628	2.544	2.477	2.423	2.378	2.34	2.308	2.28	2.256	2.234
20	4.351	3.493	3.098	2.866	2.711	2.599	2.514	2.447	2.393	2.348	2.31	2.278	2.25	2.225	2.203
21	4.325	3.467	3.072	2.84	2.685	2.573	2.488	2.42	2.366	2.321	2.283	2.25	2.222	2.197	2.176
22	4.301	3.443	3.049	2.817	2.661	2.549	2.464	2.397	2.342	2.297	2.259	2.226	2.198	2.173	2.151
23	4.279	3.422	3.028	2.796	2.64	2.528	2.442	2.375	2.32	2.275	2.236	2.204	2.175	2.15	2.128
24	4.26	3.403	3.009	2.776	2.621	2.508	2.423	2.355	2.3	2.255	2.216	2.183	2.155	2.13	2.108
25	4.242	3.385	2.991	2.759	2.603	2.49	2.405	2.337	2.282	2.236	2.198	2.165	2.136	2.111	2.089
26	4.225	3.369	2.975	2.743	2.587	2.474	2.388	2.321	2.265	2.22	2.181	2.148	2.119	2.094	2.072
27	4.21	3.354	2.96	2.728	2.572	2.459	2.373	2.305	2.25	2.204	2.166	2.132	2.103	2.078	2.056
28	4.196	3.34	2.947	2.714	2.558	2.445	2.359	2.291	2.236	2.19	2.151	2.118	2.089	2.064	2.041
29	4.183	3.328	2.934	2.701	2.545	2.432	2.346	2.278	2.223	2.177	2.138	2.104	2.075	2.05	2.027
30	4.171	3.316	2.922	2.69	2.534	2.421	2.334	2.266	2.211	2.165	2.126	2.092	2.063	2.037	2.015